<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta test="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- vanilla calendar -->
    <link href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css" rel="stylesheet">
    <!-- dragula -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
    <!-- rusmeteo  -->
    <link href="https://api.rusmeteo.net/service/informers/css/widget-brick.min.css" rel="stylesheet" type="text/css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <!-- css style -->
    <link rel="stylesheet" href="../styles/newstyle.css">
    <link rel="stylesheet" href="../styles/calendar.css">
    <link rel="stylesheet" href="../styles/elements.css">
    <link rel="stylesheet" href="../styles/settings.css">
</head>
<body>
    <div class="wrapper">

        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 header-row">
                        <i class="fa-solid fa-genderless logo"></i>
                        <div class="links-block">
                            <a class="link-header" href="calendar.html"><i class="fa-regular fa-calendar-days logo-sm"></i></a>
                            <a class="link-header" href="settings.html"><i class="fa-regular fa-user logo-sm"></i></a>
                            <a class="link-header" href="../index.html"><i class="fa-solid fa-house logo-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="row content-row" style="padding-inline: 15rem;">
            <div class="col-3">
                <ul class="nav nav-settings" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-settings-btn-x active" id="user-settings-tab" data-bs-toggle="tab" data-bs-target="#user-settings-tab-pane" type="button" role="tab" href="#"
                            aria-controls="user-settings-tab-pane" aria-selected="true">Профиль
                        </button>
                    </li>
                    <li class="nav-item " role="presentation">
                        <button class="nav-settings-btn-x" id="calendar-settings-tab" data-bs-toggle="tab" data-bs-target="#calendar-settings-tab-pane" type="button" role="tab" href="#"
                            aria-controls="calendar-settings-tab-pane" aria-selected="true">Календарь
                        </button>
                    </li>
                    <li class="nav-item " role="presentation">
                        <button class="nav-settings-btn-x" id="tasks-settings-tab" data-bs-toggle="tab" data-bs-target="#tasks-settings-tab-pane" type="button" role="tab" href="#"
                            aria-controls="tasks-settings-tab-pane" aria-selected="true">Задачи
                        </button>
                    </li>
                    <li class="nav-item " role="presentation">
                        <button class="nav-settings-btn-x" id="widgets-settings-tab" data-bs-toggle="tab" data-bs-target="#widgets-settings-tab-pane" type="button" role="tab" href="#"
                            aria-controls="widgets-settings-tab-pane" aria-selected="true">Виджеты
                        </button>
                    </li>
                    <li class="nav-item " role="presentation">
                        <button class="nav-settings-btn-x" id="analytics-tab" data-bs-toggle="tab" data-bs-target="#analytics-tab-pane" type="button" role="tab" href="#"
                            aria-controls="analytics-tab-pane" aria-selected="true">Статистика
                        </button>
                    </li>
                    <li class="nav-item " role="presentation">
                        <button class="nav-settings-btn-x" id="news-tab" data-bs-toggle="tab" data-bs-target="#news-tab-pane" type="button" role="tab" href="#"
                            aria-controls="news-tab-pane" aria-selected="true">Обновления
                        </button>
                    </li>
                    <!-- <li class="nav-item " role="presentation">
                        <button class="nav-settings-btn-x" id="test-tab" data-bs-toggle="tab" data-bs-target="#test-tab-pane" type="button" role="tab" href="#"
                            aria-controls="test-tab-pane" aria-selected="true">Test
                        </button>
                    </li> -->
                </ul>
            </div>
            <div class="col-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="user-settings-tab-pane" role="tabpanel" aria-labelledby="user-settings-tab" tabindex="0">
                        <h4>Настройки профиля</h4>
                        <ul>
                            <li>
                                <p>1. личная информация</p>
                            </li>
                            <li>
                                <p>2. выбор темы оформления</p>
                            </li>
                            <li>
                                <p>3. показ/скрытие погоды по-умолчанию</p>
                            </li>
                            <li>
                                <p>4. настройки показа доп.функционала (таймеры и тд)</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="calendar-settings-tab-pane" role="tabpanel" aria-labelledby="user-settings-tab" tabindex="0">
                        <h4>Настройки календаря</h4>
                        <ul>
                            <li>
                                <p>1. выбор цветов для категорий</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tasks-settings-tab-pane" role="tabpanel" aria-labelledby="tasks-settings-tab" tabindex="0">
                        <h4>Настройки задач</h4>
                        <ul>
                            <li>
                                <p>1. выбор основного активного таба</p>
                            </li>
                            <li>
                                <p>2. выбор настроек для задачи</p>
                            </li>
                            <li>
                                <p>3. подпись цветов для категорий задач</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="widgets-settings-tab-pane" role="tabpanel" aria-labelledby="widgets-settings-tab" tabindex="0">
                        <h4>Настройки виджетов</h4>
                        <ul>
                            <li>
                                <p>1. добавление/удаление дополнительных полей</p>
                            </li>
                            <li>
                                <p>2. выбор последовательности полей и выбор активного</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="analytics-tab-pane" role="tabpanel" aria-labelledby="analytics-tab" tabindex="0">
                        <ul class="nav nav-tasks-analytics" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-settings-btn-y active" id="tasks-statistics-tab" data-bs-toggle="tab" data-bs-target="#tasks-statistics-tab-pane" type="button" role="tab" href="#"
                                    aria-controls="tasks-statistics-tab-pane" aria-selected="true">Статистика по дням
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-settings-btn-y " id="tasks-history-tab" data-bs-toggle="tab" data-bs-target="#tasks-history-tab-pane" type="button" role="tab" href="#"
                                    aria-controls="tasks-history-tab-pane" aria-selected="true">История изменений
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tasks-statistics-tab-pane" role="tabpanel" aria-labelledby="tasks-statistics-tab" tabindex="0">
                                <ul style="padding-top: 1rem;">
                                <li>
                                    <p>1. активная страница - таблица текущей недели</p>
                                </li>
                                <li>
                                    <p>2. при изменении карточки текущего дня - данные пишутся в БД</p>
                                </li>
                                <li>
                                    <p>3. при смене дня на следующий - последний пинг в таблицу и начало записи следующего дня</p>
                                </li>
                            </ul>
                            </div>
                            <div class="tab-pane fade  " id="tasks-history-tab-pane" role="tabpanel" aria-labelledby="tasks-history-tab" tabindex="0">
                                <ul style="padding-top: 1rem;">
                                <li>
                                    <p>1. список всех задач со статусами</p>
                                </li>
                                <li>
                                    <p>2. по-умолчанию наверх добавляются новые задачи</p>
                                </li>
                                <li>
                                    <p>3. при разворачивании карточки - по датам все внесённые изменения</p>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="news-tab-pane" role="tabpanel" aria-labelledby="news-tab" tabindex="0">
                        <h4>Обновления</h4>
                        <ul>
                            <li>
                                <p>1. список релизов с описанием</p>
                            </li>
                            <li>
                                <p>2. новости</p>
                            </li>
                            <li>
                                <p>3. плашка с непрочитанными новостями</p>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- <div class="tab-pane fade" id="test-tab-pane" role="tabpanel" aria-labelledby="test-tab" tabindex="0">
                        <h4>test</h4>
                        <ul>
                            <li>
                                <p>1. </p>
                            </li>
                            <li>
                                <p>2. </p>
                            </li>
                            <li>
                                <p>3. </p>
                            </li>
                            <li>
                                <p>4. </p>
                            </li>
                            <li>
                                <p>5. </p>
                            </li>
                            
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

        <footer style="padding-left: 3rem;">
            <a href="info.html">information</a>
            <p>feedback: support@onlain-planer.ru</p>
        </footer>

    </div>


    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- vanilla calendar -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js" defer></script>
    <!-- dragula -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
    <!-- js -->
    <!-- <script src="../assets/tasks.js"></script> -->
    <script src="../assets/settings.js"></script>
</body>
</html>