.vanilla-calendar {
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--light-background) !important;
}

.vanilla-calendar-day__btn {
    background-color: var(--light-btn-background) !important;
    color: var(--light-text-color) !important;
    font-size: 14px;
    margin: 3px 3px 3px 3px !important;
}

.vanilla-calendar-day__btn_weekend {
    color: var(--light-text-color) !important;
    font-size: 14px;
}

.vanilla-calendar-week__day_weekend {
    color: var(--dark-text-color) !important;
}

.vanilla-calendar-day__btn_today {
    color: var(--dark-btn-background) !important;
    color: var(--light-text-color);
}

.holidayStatus {
    background-color: blueviolet !important;
}

.vanilla-calendar-day__btn_selected {
    background-color: rgb(170, 137, 201) !important;
}

.vanilla-calendar-month, 
.vanilla-calendar-year,
.vanilla-calendar-week__day,
.vanilla-calendar-week-number,
.vanilla-calendar-week-numbers__title {
    color: var(--dark-text-color) !important;
}

.vanilla-calendar-arrow_next::before {
    color: var(--dark-text-color) !important;
}