.vanilla-calendar {
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--primaty-background-color) !important;
}

.vanilla-calendar-week-numbers {
    /* display: none; */
}

.vanilla-calendar-day__btn {
    background-color: var(--primaty-light-color) !important;
    color: var(--seconday-base-color) !important;
    font-size: 14px;
    margin: 3px 3px 3px 3px !important;
}

.vanilla-calendar-week-number {
    margin: 3px 3px 3px 3px !important;
    
}

.vanilla-calendar-day__btn_weekend {
    color: var(--seconday-base-color) !important;
    font-size: 14px;
}

.vanilla-calendar-week__day_weekend {
    color: var(--dark-text-color) !important;
}

.vanilla-calendar-day__btn_today {
    background-color: var(--primaty-active-color) !important;
    color: var(--seconday-base-color);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.holidayStatus {
    background-color: blueviolet !important;
}

.vanilla-calendar-day__btn_selected {
    background-color: var(--accent-base-color) !important;
}

.vanilla-calendar-month, 
.vanilla-calendar-week__day,
.vanilla-calendar-week-number,
.vanilla-calendar-week-numbers__title {
    color: var(--seconday-base-color) !important;
    font-family: "Comfortaa", sans-serif !important;
    text-transform: uppercase;
}

.vanilla-calendar-year {
    display: none;
}

.vanilla-calendar-arrow {
    color: blueviolet !important;
}

.vanilla-calendar-header__content {
    color: var(--dark-btn-background);
}

#taskCalendar {
    margin: 0;
}