#widgetsCol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown {
    padding-top: 1rem;
}

.dropdown-toggle,
.dropdown-menu  {
    width: 100%;
}

.widget-content {
    padding: 1rem 0 1rem 0;
}

.widget-card-title {
    padding: 1rem;
}

.hide-class {
    display: none;
}

.dropdown-settings {
    padding: 0;
    right: 0;
}

.widget-card {
    min-height: 100%;
}

.widget-card-body-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
}

.card-header-widget {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.widget-card-body {
    min-height: 15rem;
    max-height: 15rem;
    overflow-y: auto;
}

.dropdown-settings-btn {
    background-color: #7D7D7D;
    padding: 0;
    margin-left: 0.5rem;
}

.dropdown-settings-btn:hover {
    background-color: #7D7D7D;
}

.weather-row {
    padding: 0 0.5rem 1rem 1rem;
}

.add-card-button {
    width: 2rem;
    height: 2rem;
}

.input-group-text {
    width: 2rem;
    height: 2rem;
    background-color: #7D7D7D;
}

.card-header-widget__block-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.card-body__btn-widget-header {
    background: none !important;
    border: none !important;
    padding: 0;
    margin-left: 0.5rem;
    color: var(--dark-btn-background);
    opacity: 50%;
    font-size: 14px;
}

/* погода */
.widget-brick {
    width: 100%; 
    height: 8rem; 
    background-color: var(--light-background); 
    color: var(--dark-text-color);
    border-radius: 10px;
}

/* список */
.widget-list__card-body {
    min-height: 20rem;
    max-height: 20rem;
    overflow-y: auto;
}

.widget-list__input-block {
    display: flex;
    flex-direction: row;
}

.widget-list__input-text {
    width: 100%;
    height: 2rem;
}

.form-control:focus {
    border-color: #C1C1C1 !important;
    box-shadow: none;
}

.widget-list__input-text-header {
    padding: 0;
    background-color: #7D7D7D;
    border: none;
}

.widget-list__input-text-header:focus {
    padding: 0;
    background-color: #7D7D7D;
    border: none;
}

.widget-list__list {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.widget-list__item {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 3px;
}

.widget-list__item-text {
    margin: 0;
    padding-left: 0.5rem;
}

.widget-list__item-text-done {
    text-decoration: line-through;
    color: #7D7D7D
}

/* еженедельные дела */
.everyWeekGoals__list {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.add-value-text-block {
    height: 3rem;
    width: 100%;
    padding: 1rem 0 1rem 0;
    color: #7D7D7D;
}