#widgetsCol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.widget-list__every-week-goal-checkbox {
    height: 1rem;
    width: 1rem;
}

.dropdown {
    padding-top: 1.5rem;
}

.dropdown-toggle,
.dropdown-menu  {
    width: 100%;
}

.dropdown-menu {
    padding: 0;
}

.widget-dropdown-link {
    width: 100%;
}

.hide-class {
    display: none !important;
}

.widget-content {
    padding: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

.nav-widget-link {
    color: var(--seconday-base-color);
    /* background-color: var(--primaty-light-color) !important; */
    width: 4rem;
    height: 2rem;
    border-radius: 6px;
    border: none !important;
    /* margin: 1rem 0 1rem 0; */
    letter-spacing: 2px;
    /* font-weight: bold; */
    /* margin-inline: 1rem; */
    font-size: 12px;
    padding: 0;
    /* background: none !important; */
}

.add-value-text-block {
}

.every-week-goals__widget-card {
    /* border-radius: 10px; */
    
}

.border__widget-card {
    border-top-right-radius: 22px !important;
}

.widget-card-header {
    height: 2.5rem;
    color: var(--seconday-base-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    background-color: var(--primaty-light-color);
    /* border-radius: 15px !important; */
    border-top-left-radius: 10px !important;
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    padding: 0;
    border: none;
}

.dropdown-settings-btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100px;
    border: none;
    background-color: var(--primaty-light-color);
    display: flex;
    align-items: center;
}

.dropdown-settings-btn:hover {
    background-color: var(--primaty-light-color);
}

.dropdown-settings-btn:active {
    background-color: var(--primaty-light-color);
}

.nav-widget-link  {
    color: var(--seconday-base-color);
    font-size: 12px;

}

.nav-widget-active-link {
    font-size: 14px;
    font-weight: 900;
    background-color: var(--primaty-background-color) !important;
}

.widget-card-title {
    padding: 1rem;
}

.dropdown-item {
    background-color: var(--primaty-background-color);
}

.dropdown-item:hover {
    background-color: var(--primaty-light-color);
}

.widget-dropdown-item {
    background-color: var(--primaty-background-color);
}

.widget-dropdown-item:hover {
    background-color: var(--primaty-light-color);
}

.dropdown-settings {
    padding: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
}

.card-widget__block-header {
    padding-left: 1rem;
    font-size: 18px;
}

.widget-card {
    min-height: 100%;
    /* background-color: var(--primaty-background-color); */
    background: none;
}

.widget-card-body-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0 0 0;
}

.form-check-label_done {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.widget-card-body {
    min-height: 15rem;
    max-height: 15rem;
    overflow-y: auto;
    padding:  0;
}

.card-header__icon-button {
    background-color: #7D7D7D;
    padding: 0;
    margin-left: 0.5rem;
    border: none;
    font-size: 16px;
}

.card-header__icon-button:hover {
    background-color: #7D7D7D;
}

.weather-row {
    padding: 0 0.5rem 1rem 1rem;
}

.add-card-button {
    width: 2rem;
    height: 2rem;
}

.input-group-text {
    width: 2rem;
    height: 2rem;
    background-color: #7D7D7D;
}

.input-group {
    width: auto;
}

.form-check-label__block-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

.form-check-label__block-header-text {
    display: flex;
    align-items: center;
    width: 15%;
}

.card-body__widget-header-btn {
    background: none !important;
    border: none !important;
    padding: 0;
    margin-left: 0.5rem;
    color: var(--dark-btn-background);
    opacity: 50%;
    font-size: 14px;
}

.card-item-icons-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-item-icon {
    padding-inline: 5px;
}

/* .card-header-widget {
    display: ;
} */

/* погода */
.widget-brick {
    width: 100%; 
    height: 8rem; 
    background-color: var(--primaty-background-color);
    color: var(--seconday-base-color);
    font-family: "Comfortaa", sans-serif !important;
}


/* список */
.widget-list__card-body {
    min-height: 20rem;
    max-height: 20rem;
    overflow-y: auto;
}

.widget-list__input-block {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 10;
    width: 100%;
}

.widget-list__input-text {
    width: 100%;
    height: 2rem;
}

.form-control:focus {
    border-color: #C1C1C1 !important;
    box-shadow: none;
}

.widget-list__input-text-header {
    padding: 0;
    background: none;
    border: none;
}

.widget-list__input-text-header:focus {
    padding: 0;
    background: none;
    border: none;
}

.widget-list__list {
    padding: 0;
    margin: 0;
}

.widget-list__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
    padding: 3px;
    padding-inline: 1rem;
}

.widget-link-list__list {
    padding: 0;
}

.widget-list__item-text {
    margin: 0;
    padding-left: 0.5rem;
}

.widget-list__item-text-done {
    text-decoration: line-through;
    color: #7D7D7D
}

/*  */
.widget-link-list__input-block {
    display: flex;
    flex-direction: row;
}

.widget-list__item-link {
    color: var(--extra-dark-text-color);
    text-decoration: none;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1rem;
}

/* еженедельные дела */
.widget-every-week-goal__nav {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin: 0 2rem 0 0;
    border: none;
}

.widget-every-week-goal__item {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.widget-every-week-goal__item:hover {
    background-color: var(--extra-light-background);
}

.widget-every-week-goal__item-text {
    padding-left: 0.5rem;
}

.add-value-text-block {
    height: 3rem;
    width: 100%;
    padding: 1rem 0 1rem 0;
    color: #7D7D7D;
}