:root {
    /* primary цвет */
    --primaty-base-color: rgba(12, 79, 19, 0.8);
    --primaty-active-color: rgba(12, 79, 19, 0.6);
    --primaty-light-color: rgba(12, 79, 19, 0.3);
    --primaty-background-color: rgba(12, 79, 19, 0.15);
    --primaty-card-color: rgb(173, 209, 176);
    /* seconday цвет */
    --seconday-base-color: rgb(34, 34, 34);
    --seconday-light-color: rgb(136, 136, 136);
    --seconday-extra-light-color: rgb(204, 204, 204);
    /* акцентный цвет */
    --accent-base-color: rgb(221, 137, 42);
    --accent-light-color: rgba(196, 121, 35, 0.5);
    /* цвета статусов задач */
    --icon-high-color: #9E3131;
    --icon-medium-color: #B28136;
    --icon-light-color: #23459E;
}

/* общие стили */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    /* background-color: var(--extra-light-background); */
    background-image: url(../img/light.png);
    min-width: 320px;
    position: relative;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

input {
    background-color: var(--primaty-background-color) !important;
    border: none !important;
}

.hide-class {
    display: none;
}

.scroll-class {
    overflow-y: auto;
    min-height: 5rem !important;
    height: 10rem !important;
}

.light-text-class {
    color: var(--seconday-light-color);
    /* text-decoration: line-through; */
    font-style: italic;
}

.card {
    padding: 0 !important;
}

.shadow-class {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.15);
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.15);
}

.height-card-class {
    height: fit-content !important;
}

.input-validation-message {
    color: #9E3131;
    padding: 3rem 0 0 1rem;
    font-size: 14px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.logo {
    font-size: 4rem;
    color: var(--primaty-base-color);
}

.card-body::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.card-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #6d7076 0%, #74767c 100%);
    border-radius: 5px;
}

.card-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #ddd;
    border: 1px solid #ccc;
}

.card-body::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
    background-color: #6c6e75;
    border-radius: 5px;
}

.card-body::-webkit-scrollbar-button:hover,
body::-webkit-scrollbar-button:hover {
    background-color: #999999;
}

.base-text-color {
    color: var(--seconday-base-color);
}

.green-text-color {
    color: rgb(9, 196, 9) !important;
}
.violet-text-color {
    color: rgb(135, 6, 167) !important;
}
.orange-text-color {
    color: rgb(226, 131, 23) !important;
}
.red-text-color {
    color: rgb(231, 61, 61) !important;
}
.blue-text-color {
    color: rgb(58, 83, 223) !important;
}

#search {
    min-height: 5rem;
}

#searchTasksInput {
    height: 3rem;
    width: 100%;
    background-color: var(--primaty-background-color);
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
}

#searchTasksInput:focus-visible {
    border: none !important;
    outline-width: 0;
}

#searchTasksToRunningList {
    background-color: var(--primaty-light-color);
    border-radius: 100px;
    color: var(--seconday-extra-light-color);
    position: absolute;
    right: 0;
    height: 3rem;
    width: 3rem;
}

#cleanSearchInput {
    right: 6rem;
    position: relative;
    right: 0;
    margin-left: auto;
}
    
/* .card-header__text:hover + .card-header__label {
    display: block;
} */

.card-header__label {
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* background-color: var(--seconday-extra-light-color); */
    display: none;
}

.table {
    display: none;
    z-index: 1;
}

.table-row-item {
    background-color: var(--seconday-extra-light-color) !important;
}

.icon-tasks {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.number-btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

/* блоки страницы */
.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
}

.links-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-header {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primaty-base-color);
    letter-spacing: 3px;
    margin-left: 2rem;
}

.link-header:hover {
    color: var(--primaty-light-color);
}

main {
    display: flex;
    height: fit-content;
}

main.main {
    flex: 1 1 auto;
}

.main-row {
    padding: 0 3rem 3rem 3rem
}

.widgets-row {
    padding-left: 1.5rem !important;
}



.widget-row {
    margin-bottom: 1rem;
}

.col-4,
.col-8 
{
    padding: 0;
}

.widgets-row {
    padding-left: 2rem;
}

.widget-col {
    padding-inline: 0.5rem;
}

.validation-dialog__btn-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* карточки */
/* .home-card {
    height: 15rem;
    margin-top: 2rem;
} */

/* .weekDayCard {
    margin-inline: 2rem;
    margin-bottom: 1rem;
} */

.card-header {
    background-color: var(--dark-background);
    border-color: var(--extra-dark-text-color);
    border-top-right-radius: 100px !important;
}

.card-header_day-card {
    height: 3rem;
    color: var(--seconday-base-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    background-color: var(--primaty-light-color);
    border-radius: 15px !important;
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    padding: 0;
    border: none;
}

.task-card-header__icon-button {
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    border: none;
    background-color: var(--primaty-light-color);
}

.week-planer-card-body {
    background-color: var(--seconday-extra-light-color);
}

.fa-ellipsis {
    font-size: 22px;
    color: var(--seconday-extra-light-color);
    /* padding-right: 8px; */
}

/* .weekDayCard-title {
    font-size: 14px;
} */

.widget-btn-block__button {
    padding-inline: 0.3rem;
    font-size: 18px;
}

.card-body {
    /* background-color: var(--light-background); */
    background: none;
}

/* .week-planer-card-body {
    min-height: 1rem !important;
    padding-inline: 0;
} */

.row-content {
    height: fit-content;
    padding: 0 4rem 4rem 4rem;
    position: relative;
}

.calendar-block {
    display: flex;
    flex-direction: column;
}

.button-dark {
    background-color: var(--accent-base-color) !important;
    color: var(--light-text-color);
    height: 40%;
    font-size: 14px;
}

.button-icon-accent {
    color: var(--accent-base-color) !important;
    font-weight: 900;
}

.button-icon-extra-light {
    color: var(--seconday-extra-light-color);
}

.button-dark:hover {
    background-color: var(--accent-light-color);
}

.button-dark:focus    {
    background-color: var(--accent-light-color) !important;
    border: none;
}

.button-dark-lg {
    height: 3rem;
    width: 10rem;
}

/* .block-button {
    width: -webkit-fill-available;
    margin: 0.5rem;
} */

/* .card-header {
    display: flex;
    justify-content: center;
} */

.card-header__text {
    color: var(--light-text-color);
    margin: 0;
    padding-left: 1rem;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-tasks {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1rem;
    /* align-items: center; */
    /* padding: 1rem 1rem 0 0.5rem; */
}

.nav-item {
    /* background-color: var(--light-background); */
}

.tasks-link {
    color: var(--seconday-base-color);
    background-color: var(--primaty-light-color) !important;
    width: 10rem;
    height: 3rem;
    border-radius: 6px;
    /* border-color: var(--light-background) !important; */
    margin: 1rem 0 1rem 0;
    letter-spacing: 2px;
    font-weight: bold;
    margin-inline: 1rem;
}

/* .tasks-link .active {
    color: var(--seconday-base-color);
    color: var(--seconday-light-color);
} */

.tasks-link:hover {
    /* color: var(--extra-dark-text-color); */
}

/* .tasks-link,
.active {
    font-weight: bold;
    color: var(--extra-dark-text-color);
    
} */

.block_right {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* .card-body__changePlan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
} */

/* .card-body__change-plan-lable {
    margin: 0;
} */

/* .card-body__form-check {
    margin: 0;
} */

.card-button-block-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_left {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.block-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.done-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-tasks {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding-bottom: 1rem;
    position: relative;
}

.running-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.running-list__task-block {
    display: flex;
    flex-direction: column;
}

.running-list__task-block-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.running-list__task-block-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 1rem;
}

.running-list__status-icon {
    font-size: 1.2rem;
    /* padding-top: 3px; */
}

.running-list__storypoints {
    background: none;
    border-radius: 100%;
    border-color: var(--primaty-active-color);
    color: var(--primaty-base-color);
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 5px;
    margin-bottom: 3px;
}

.card-item-icon {
    /* font-size: 3rem !important; */
    color: var(--seconday-light-color);
    padding-inline: 5px;
}

.task-icon {
    font-size: 14px !important;
    margin-left: 3px;
}

.plan-list__task-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.plan-list__task-block-info {
    display: flex;
    flex-direction: row;
}

.plan-list__form-check-input {
    margin-right: 1rem !important;
}

.day-card-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-card-list__item-block {
    display: flex;
    flex-direction: row;
}

.block-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

.btn-outline-light {
    color: var(--primaty-base-color);
    border-color: var(--primaty-base-color);
    margin: 0.5rem;
}

.btn-outline-light.active {
    background-color: var(--primaty-light-color) !important;
    border-color: var(--primaty-base-color) !important;
}

.btn-outline-light-min {
    color: var(--primaty-base-color);
    border-color: var(--primaty-base-color);
    margin: 0; 
    height: 2rem; 
    width: 5rem; 
    font-size: 12px;
}

.btn-outline-light:hover {
    color: var(--primaty-base-color);
    border-color: var(--primaty-base-color);
    background-color: var(--primaty-light-color);
    margin: 0.5rem;
}

.nav-tabs .nav-link.active {
    background: none;
    color: var(--accent-base-color);
}

.btn-outline-light:focus-visible {
    color: var(--accent-base-color);
    border-color: var(--accent-base-color);
    /* background-color: var(--accent-light-color); */
    background: none !important;
    margin: 0.5rem;
}

.btn-outline-dark {
    color: #2c2c2c;
    border-color: #2c2c2c !important;
    /* background-color: #b1b1b1; */
    margin: 0.5rem;
}

.widget-btn-block {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-inline: 1rem;
}

#searchTasksToRunningList {
    display: flex;
    justify-content: center;
}

.icon-max {
    font-size: 26px;
    padding-top: 3px;
}

.fa-chevron-down,
.fa-angle-up {
    font-size: 20px;
}

/* .card-button {
    height: 2rem;
    width: 6rem;
} */

/* .runningList-ul {
    padding: 0;
} */

.card-list__item {
    list-style: none;
    /* padding: 0.5rem 1rem 0.5rem 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-list__item:hover {
    background-color: var(--extra-light-background);
}

/* .card-list__item-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .status-icon_done {
    color: var(--light-btn-background) !important;
    padding-right: 5px;
} */

.form-check-label {
    /* color: var(--extra-dark-text-color); */
    font-size: 18px;
}

.form-check-label_done {
    color: var(--seconday-light-color);
    font-style: italic;
    text-decoration: line-through;
}

.form-date-label {
    font-size: 12px;
    /* color: var(--dark-text-color); */
    opacity: 70%;
    padding-left: 2.5rem;
}

.card-body__list {
    padding-left: 0;
}

.task-list__icon-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-secondary {
    color: var(--seconday-light-color);
    padding-left: 5px;
}

.card_day-card {
    margin-bottom: 2rem;
    background: none;
    border-top-right-radius: 50px !important;
    /* border-color: var(--accent-light-color); */
    border: none;
}

.border-bottom-right-radius {
    border-bottom-right-radius: 50px !important;
}

.card-body__content {
    padding: 0;
}

.search-tasks__btn {
    font-size: 1.3rem;
    color: var(--seconday-light-color);
    padding: 0;
    margin: 0.5rem 0 0.5rem 1rem;
}

.card-body__icon-button {
    background: none !important;
    border: none !important;
    /* padding-inline: 0.5rem; */
    color: var(--dark-btn-background);
    font-size: 18px;
    padding: 0;
    height: 2rem;
    width: 2rem;
}

.nav-tasks__add-icon {
    /* font-size: 20px; */
    /* font-weight: 100; */
    color: var(--seconday-light-color);
}

/* .card-body__icon-button-left {
    position: relative; 
    left: -2rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 2rem;
} */

.form-check-input {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
}

.status-icon {
    /* padding-inline: 10px; */
}

.fa-hourglass-start {
    color: var(--icon-light-color);
}

.fa-hourglass-half {
    color: var(--icon-medium-color);
}

.fa-hourglass-end {
    color: var(--icon-high-color);
}

.modal-dialog__btn-block {
    display: flex;
    flex-direction: row;
    padding: 0;
    /* margin-top: 2rem; */

}

.modal-body {
    min-height: 8rem;
    height: fit-content;
}

/* .runningList-li {
    padding-right: 1.5rem;
} */

.add-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 50%;
    background-color: var(--seconday-extra-light-color);
    border-radius: 10px;
}

.modal-dialog {
    padding: 2rem;
}

.modal-header {
    height: 4rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.date-dialog {
    margin-top: 10rem;
}

.modal-footer {
    height: 6rem;
    /* display: flex;
    justify-content: end; */
}

.task-settings-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.dropdown {
    display: flex;
    padding: 0;
    width: 12rem;
    height: 4rem;
}

.color-dropdown {
    width: 8rem;
    height: 3rem;
}

.input-form{
    position: relative;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    background-color: var(--primaty-background-color);
    border-radius: 10px;
}

.storypoints-input {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1rem;
}

.widget-dropdown-item {
    display: flex;
    align-items: center;
    height: 2rem;
    padding-inline: 1rem;
}

.btn-secondary {
    background: none !important;
    border-color: var(--primaty-base-color);
}

.add-input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid var(--dark-btn-background);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    /* color: var(--dark-text-color); */
    outline: none;
    padding: 1.25rem;
    background: none;
}

.add-input:hover{
    /* border-color: var(--light-btn-background) */
}
.add-input:focus{
    /* border-color: var(--light-btn-background); */
}

.add-input_label{
    position: absolute;
    color: var(--dark-text-color);
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, 
                left 200ms ease-in, 
                font-size 200ms ease-in;
}

.input-form .add-input:focus~.add-input_label,
.input-form .add-input:not(:placeholder-shown)~.add-input_label {
  top: 0;
  transform: translateY(-50%) scale(0.75);
  /* background-color: var(--primaty-background-color); */
  border-radius: 10px;
  font-size: 18px;
}

.nav-tabs {

}

.tasks-link.active {
    /* font-size: 18px; */
    background-color: var(--primaty-active-color) !important;
    /* color: var(--seconday-light-color); */
}

